/*main background*/
body {
background-color:white ;
}

/*for HTML header H1*/
h1 {
  color: black;
  text-align: center;
  background-color: transparent;
  font-family: Gill Sans Nova, Verdana;
}

/*input bar*/
input {
    background-color: white;
    font-family: Gill Sans Nova, Verdana;
}

/*for HTML paragraphs*/
p {
    font-family: Gill Sans Nova, Verdana;
}

/*footer*/
footer{
  text-align: center;
}

